<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}" type="text/css" media="screen">
</head>
<body id="page8">
	<header>
		<div class="main">
			<div class="wrapper">
				    <h1>
						<img src={{url_for('static', filename='lobo.PNG')}} height="200" width="200" >
					<br><br>
						<strong>Roter Wolf</strong>
					</h1>
				<nav>
					<ul class="menu">
						 <br>
						 <br>
						 <br>
						 <br>
						<li><a class="active" href={{url_for("correo")}}>CORREO</a></li>
						<li><a href={{url_for("clientes")}}>CLIENTES</a></li>
						<li><a href={{url_for("index")}}>CERRAR SESION</a></li> 
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="content">
		<div class="main">
			<div class="indent-left">
				<div class="wrapper">
					<article class="col-5">
						<h2 align="center"> Enviar correo </h2> 
						<article class="col-5">
						

						</article>
					</article>
				</div>
			</div>
		</div>
	</section>
</body>
</html>