<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}" type="text/css" media="screen"> 
</head>
<body id="page1">
	<header>
		<div class="main">
			<div class="wrapper">
				    <h1>
						<img src="{{url_for('static', filename='lobo.PNG')}}" height="200" width="200" >
					<br><br>
						<strong>Roter Wolf</strong>
					</h1>
				</div>
			</div>
		</header>

	<section id="content">
		<div class="main">
			<div class="indent-left">
				<div class="wrapper">
					<article class="col-5">
						<h2 align="center"> Iniciar Sesion </h2> <br>
					<article class="col-5">		
						<center>

							<form action="/login" method="POST" id="contact-form"> 
								<fieldset>
									<label>
										<input type="text" value="Usuario" onBlur="if(this.value=='') this.value='Usuario'" onFocus="if(this.value =='Usuario' ) this.value=''" name="usuario"/>
									</label> <br> <br>  
									<label>
										<input type="password" value="Contraseña" onBlur="if(this.value=='') this.value='Contraseña'" onFocus="if(this.value =='Contraseña' ) this.value=''" name="contrasena"/>
									</label> 								
									<div class="buttons-wrapper" >
										<center>
											<button type="submit" class="button">Ingresar</button> 
											<button type="button" class="button" onclick='window.location="{{url_for("registro")}}"'>Registrar</button> 
										</center>
									</div>
								</fieldset>
							</form>
						</center>			
					</article>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>

