<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}" type="text/css" media="screen">
</head>
<body id="page8">
	<header>
		<div class="main">
			<div class="wrapper">
				    <h1>
						<img src={{url_for('static', filename='lobo.PNG')}} height="200" width="200" >
					<br><br>
						<strong>Roter Wolf</strong>
					</h1>
				<nav>
					<ul class="menu">
						 <br>
						 <br>
						 <br>
						 <br>
						<li><a href="{{url_for('presentacion')}}">PRESENTACION</a></li>
						<li><a class="active" href="{{url_for('registro')}}">REGISTRO</a></li>
						<li><a href="{{url_for('index')}}">INICIO SESION</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="content">
		<div class="main">
			<div class="indent-left">
				<div class="wrapper">
					<article class="col-5">
						<form method="POST" action="/registro">
							<h2 id="title" align="center"> Registro </h2> 
							<article class="col-5">
								<div id="usuario">
									<label for="">Usuario</label>
									<input type="text" name="nombre_usuario" required>
								</div>

								<div id="correo">
									<label for="">Correo</label>
									<input type="email" name="email" required>
								</div>

								
								<div id="contrasena">
									<label for="">Contraseña</label>
									<input type="password" name="pwd" required>
								</div>
								<div id="contrasena2">
									<label for="">Confirmar contraseña</label>
									<input type="password" name="password" required>
								</div>
								
								<!-- Verificacion por numero telefonico -->
								<div>
									<div id="sendSMS">
										<label>Ingresa un número para crear la cuenta</label>
											<input type="text" id="number" name="telefono" placeholder="+52**********" required>
											<div id="recaptcha-container"></div>
											<button id="btnSendSMS" type="button" onclick="phoneAuth();">Enviar código</button>
										<br>
									</div>
									
									<div id="verification">
									<label>Ingresa el código de verificación</label>
											<input type="text" id="verificationCode" placeholder="Ingresa el código de verificación">
											<button id="btnCheckCode" type="button" onclick="codeverify();">Verificar código</button>
									
									</div>
									
									<div id="success">
										<p>Codigo verificado correctamente</p>
										<button type="submit">Finalizar registro</button>
									</div>
									
									<div id="failure">
										<p>Hubo un error al momento de crear la cuenta. Por favor intenta <a href="#">registrarte nuevamente</a></p>
									</div>
									
								</div>
							</form>
							

						</article>
					</article>
				</div>
			</div>
		</div>
	</section>
	
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js.map"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyARoFIBva4-5Ipw8u0TOvBlaN1lxcTJxH0",
        authDomain: "sms-verification-68ada.firebaseapp.com",
        databaseURL: "https://sms-verification-68ada-default-rtdb.firebaseio.com",
        projectId: "sms-verification-68ada",
        storageBucket: "sms-verification-68ada.appspot.com",
        messagingSenderId: "29249087898",
        appId: "1:29249087898:web:eea89c8616b58e1aebb223"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
<script src="{{url_for('static', filename='js/PhoneNumber.js')}}" type="text/javascript"></script>
</body>
</html>